{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>E Class</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-arial leading-normal tracking-normal bg">
		{% include 'includes/navbar.html' %}
		<!-- component -->
		<div
			class="h-screen bg-gray-900/95 flex flex-wrap items-center justify-center px-4 md:px-24 lg:px-40">
			<div class="container w-full mt-24 bg-white shadow-lg transform duration-200 easy-in-out">
				<div class="h-60 overflow-hidden">
					<img
						class="w-full"
						src="{% static 'img/bg.jpg' %}"
						alt="" />
				</div>
				<div class="flex justify-center px-5 -mt-12">
					<img
						class="h-40 w-40 bg-white p-2 rounded-full"
						src="{% static 'img/me.jpg' %}"
						alt="" />
				</div>
				<div class=" ">
					<div class="text-center px-14">
						<h2 class="text-gray-800 text-3xl font-bold">Blessy L. Taras</h2>
						<a class="text-gray-800 mt-2 hover:text-blue-500">blessytaras73@gmail.com</a>
						<div class="mt-2 text-gray-500 text-sm">
							<p class="text-lg font-bold mt-8">Disclaimer</p>
							<b>LearnTogether Hub:</b> Interactive Educational Forum is for educational purpose only. Content is informative,
							not professional advise. Users are responsible for their interactions. The platform doesn’t endorse or
							guarantee the accuracy of shared information. Users should conduct research and consult professionals
							before making decisions based on platform comtent.
						</div>
					</div>
					<hr class="mt-6" />
					<div class="flex bg-gray-50">
						<div class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer">
							<p>
								<span class="font-semibold">
									<i
										class="fa fa-location-arrow"
										aria-hidden="true"></i>
									Address:
								</span>
								Poblacion, Lapuyan Z, D, S
							</p>
						</div>
						<div class="border"></div>
						<div class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer">
							<p>
								<span class="font-semibold">
									<i
										class="fa fa-phone"
										aria-hidden="true"></i>
									Phone Number:
								</span>
								09510018441
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
