{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		{% tailwind_css %}
	</head>
	<body class="bg-gray-50 font-arial leading-normal tracking-normal bg">
		<section class="">
			<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
				<a
					href="#"
					class="flex items-center mb-6 text-2xl font-semibold text-white">
					IGNHS E-class
				</a>
				<div class="w-full bg-white/70 rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 border-gray-700">
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
						<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
							Log in to your Admin account
						</h1>
						{% for message in messages%} {% if message.level_tag == 'success' %}
						<p class="text-center text-green-800 font-bold mt-14 text-md">
							<i class="fa-solid fa-thumbs-up mr-1"></i>
							{{message}}
						</p>
						{% else %}
						<p class="text-center text-red-400 font-bold mt-14 text-md">
							<i class="fa-solid fa-triangle-exclamation mr-1"></i>
							{{message}}
						</p>
						{%endif%} {% endfor %}
						<form
							class="space-y-4 md:space-y-6"
							method="post"
							enctype="multipart/form-data">
							{% csrf_token %}
							<div>
								<label
									for="username"
									class="block mb-2 text-sm font-medium text-gray-900">
									Username
								</label>
								<input
									type="text"
									name="username"
									id="username"
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 placeholder-gray-400"
									placeholder="Enter Username"
									required />
							</div>
							<div>
								<label
									for="password"
									class="block mb-2 text-sm font-medium text-gray-900">
									Password
								</label>
								<input
									type="password"
									name="password"
									id="password"
									placeholder="••••••••"
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 placeholder-gray-400"
									required />
							</div>
							<div class="flex justify-evenly text-white">
								<button
									type="submit"
									name="submit"
									class="w-fit flex items-center duration-300 bg-blue-600 hover:scale-110 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
									<i class="fa-solid fa-right-to-bracket mr-1"></i>
									Log in
								</button>

								<a
									href="{% url 'homepage' %}"
									class="w-fit bg-green-600 hover:bg-green-700 duration-300 hover:scale-110 hover:border-1 hover:border-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
									<i class="fa-solid fa-house"></i>
									Back to Home
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				document.querySelector("form").addEventListener("submit", function (event) {
					event.preventDefault(); // Prevent the form from submitting normally

					// Get the username and password values from the form
					var username = document.getElementById("username").value;
					var password = document.getElementById("password").value;

					// Check if the username and password are correct (replace this with your own authentication logic)
					if (username === "admin" && password === "admin123") {
						// If correct, navigate to another page
						window.location.href = "{% url 'mainDashboard' %}";
					} else {
						// If incorrect, show an error alert
						alert("Incorrect username or password. Please try again.");
					}
				});
			});
		</script>
	</body>
</html>
